@mixin container {
  width: 320px;
  margin: 0 auto;
  padding: 0 28px;
  outline: 1px solid red;

  @media screen and (min-width: $tablet) {
    width: 768px;
  }
  @media screen and (min-width: $desktop) {
    width: 1360px;
  }
}

@mixin section {
  padding: 30px 0;

  @media screen and (min-width: $desktop) {
    padding: 5px 0;
  }
}
